<div class="grid grid--1x2 feature">
	<div>
		<span class="icon-container">
			<svg class="icon icon--primary">
				<use xlink:href="images/sprite.svg#computer"></use>
			</svg>
		</span>
		<h3>Super Easy to Use</h3>
		<p>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet
			commodi sapiente quasi, quos repellat voluptatem exercitationem cum
			earum fuga itaque!
		</p>
		<a href="#" class="link-arrow">Learn More</a>
	</div>
	<div>
		<img src="images/easy.jpg" alt="Easy to use" />
	</div>
</div>
<div class="grid grid--1x2 feature feature--reverse">
	<div>
		<span class="icon-container">
			<svg class="icon icon--primary">
				<use xlink:href="images/sprite.svg#computer"></use>
			</svg>
		</span>
		<h3>Super Easy to Use</h3>
		<p>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet
			commodi sapiente quasi, quos repellat voluptatem exercitationem cum
			earum fuga itaque!
		</p>
		<a href="#" class="link-arrow">Learn More</a>
	</div>
	<div>
		<img src="images/easy.jpg" alt="Easy to use" />
	</div>
</div>
